/*
Theme Name: Forget
Theme URI: http://azfashao.com/hztlfg/
Author: 爱在发烧
Author URI: http://azfashao.com/
Description:记忆可以忘记，你无法忘记。
Version: 3.0
*/
@charset utf-8;
* {margin:0;padding:0;}
body{font-family: Hiragino Sans GB,微软雅黑,黑体,Arial,sans-serif;font-size: 13px;color:#3F3E3C;line-height:1.5;background-color: #eeeded;}
hr{margin:20px auto;border: 1px dashed #E7E7E7;}
a {
	-webkit-transition: all .1s ease-in-out 0.1s;
	-o-transition: all .1s ease-in-out 0.1s;
	-moz-transition: all .1s ease-in-out 0.1s;
	transition: all .1s ease-in-out 0.1s;
	color: #337AB7;
	text-decoration: none;
}
img{border:0;max-width: 100%;vertical-align:middle;}
code{background:#ECEBEB;display:block;padding:10px;border-left:4px solid #7F9BC0;border-radius:3px;word-wrap:break-word;}
p{display:block;}ul{list-style:none;}a{color:#777;text-decoration:none;}sup{color:#7F9BC0;}
blockquote{overflow:hidden;border:0;padding:8px 12px;margin:5px 0 15px;background-color:#F1F1F1;border-left:4px solid #7AD03A;-webkit-box-shadow:0 1px 1px 0 rgba(0,0,0,0.1);box-shadow:0 1px 1px 0 rgba(0,0,0,0.1);}
.l-header{max-width: 1100px;margin: 10px auto 0;background-attachment:fixed;-webkit-background-size:100% 100%;-moz-background-size:100% 100%;-o-background-size:100% 100%;z-index:10;position:relative;zoom:1;}
.hdbg,.hdbg2{position:absolute;bottom:0;left:0;width:100%;height:100%;background:-webkit-linear-gradient(top,#000,rgba(0,0,0,0) 85%);}
.hdbg2{background:#424242;opacity:.8;filter:alpha(opacity=80);}
.m-about{width:850px;margin:0 auto;padding:70px 0 0;text-align:center;position:relative;zoom:1;}
.m-header{display:none;}
.pull-right{float:right}
.pull-left{float:left}
/*logo player*/
#pic{position: absolute;width:180px;height:180px;border-radius:50%;}
#pic img{width:180px;height:180px;border-radius:50%;}
#logo{width:180px;margin:auto;margin-top:12px;color:#fff;position:relative;}
#logo .progressbar-wrapper{display:none!important;}
.rotate{animation:pic 15s linear infinite;-webkit-animation:pic 15s linear infinite;-moz-animation:pic 15s linear infinite;-ms-animation:pic 15s linear infinite;-o-animation:pic 15s linear infinite;}@-webkit-keyframes pic{from{-webkit-transform:rotate(0deg);}to{-webkit-transform:rotate(360deg);}}@-moz-keyframes pic{from{-moz-transform:rotate(0deg);}to{-moz-transform:rotate(360deg);}}@-ms-keyframes pic{from{-ms-transform:rotate(0deg);}to{-ms-transform:rotate(360deg);}}@-o-keyframes pic{from{-o-transform:rotate(0deg);}to{-o-transform:rotate(360deg);}}@keyframes pic{from{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);}to{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg);}}
#logo{width:180px;height:180px;margin:0 auto 15px;}
#logo img{border-radius:100px;width:180px;height:180px;}
.tit{padding:0 0 10px;font-weight:normal;}
.tit a{color:#fff;font-size:45px;letter-spacing:2px;opacity:.8;filter:alpha(opacity=80);font-family:微软雅黑;}
.about{color:#fff;padding:0 0 15px;font-size:14px;opacity:.8;filter:alpha(opacity=80);zoom:1;}
.nav{margin-left:0;margin-bottom:20px;list-style:none}
.nav > li > a{display:block}
.nav > li > a:hover,.nav > li > a:focus{text-decoration:none;background-color:##7F9BC0;}
.m-nav-all{display:block;margin:0 auto;max-width:1100px;}
.m-logo-url{float:left;display:none;height:52px;}
.m-logo-url img{width:50%;border-radius:100%;}
.m-logo-url h3{margin:10px 0;color:#fff;font-weight:normal;}
.m-nav{max-width: 1100px;height:52px;background-color:#7F9BC0;position:relative;margin: 0 auto 10px;}
.m-nav:after{clear:both}
.m-nav .nav{position:relative;max-width: 1100px;pxdisplay:block;margin: 0 auto;font-size:14px}
.m-nav .nav.pull-right{float:right;margin-right:0}
.m-nav .nav > li{position:relative;float:left;margin-right:1px}
.m-nav .nav li a{padding:15.5px 20px;color:#eeeeee}
.m-nav .nav .dropdown-toggle .caret{margin-top:8px}
.m-nav .nav li a:focus,.m-nav .nav li a:hover{background-color:#FFF;color:##7F9BC0;}
.m-nav .nav .active a,.m-nav .nav .active a:hover,.m-nav .nav .active a:focus{color:#7F9BC0;background-color:#ffffff;}
.m-nav .nav li.current-menu-item a,.m-nav .nav li.current-menu-parent a,.m-nav .nav li.current_page_item a,.m-nav .nav li.current-post-ancestor a{color:#fff;position:relative;z-index:2}
.m-nav .nav li:hover > ul{display:block}
.m-nav .nav > li > ul{padding-bottom:10px;text-align:left;position:absolute;top:52px;left:0;min-width:140px;z-index:10;display:none;font-size:12px}
.m-nav .nav > li > ul > li > ul{padding-bottom:10px;text-align:left;position:absolute;top:0;left:100%;min-width:140px;z-index:10;display:none;font-size:12px}
.m-nav .nav > li > ul > li{float:none;margin:0;position:relative}
.m-nav .nav ul a{float:none;display:block;*min-width:100px;padding:5px 20px 4px;color:#eeeeee}
.m-nav .nav ul a:hover,.m-nav .nav li li.current-menu-item a{color:#ffffff}
.m-nav .nav li li a:hover,.m-nav .nav li li.current-menu-item a{background-color:#7F9BC0}
.m-nav .nav li:hover a,.m-nav .nav li.current-menu-item a,.m-nav .nav li.current-menu-parent a,.m-nav .nav li.current_page_item a,.m-nav .nav li.current-post-ancestor a,.m-nav .nav li ul{background-color:#ffffff;color:#7F9BC0;}
.mainContent{max-width:1100px;min-width:320px;margin:10px auto;position:relative;overflow:hidden;}
.topspaceinfo{background:#7F9BC0;color:#fff;padding:40px 20px;}
.topspaceinfo h1{font-size:16px;line-height:40px;}
.userinfo{font-size:14px;line-height:28px;color:#666;padding:20px 30px 30px;background-color: #fff;}
.userinfo a{color:#666;}
.q-fans{padding:0 10px;color:#7F9BC0;}
.widget{clear:both;margin-bottom:10px;background-color:#fff}
.widget h3{position:relative;margin:0;line-height:20px;padding:6px 15px;font-size:15px;background-color:#F7F7F7;height: 20px;border-bottom: 1px solid #eaeaea;font-weight: normal;}
.widget h3 .btn{position:absolute;top:5px;right:10px;font-weight:normal;padding: 2px 7px 1px}
.widget-notip{line-height:20px;color:#666;border-top-color:#f00}
.widget ul{*zoom:1}
.widget ul:before,.widget ul:after{display:table;content:"";line-height:0}
.widget ul:after{clear:both}
.widget-notip h3{margin-bottom:13px}
.widget_views li,.widget_rss li,.widget_recent_entries li,.d_hotpost_txt li,.recentcomments{border-bottom:solid 1px #eee;padding:8px 15px;font-size: 14px;}
.widget_links ul{padding:10px 15px 5px;color: #999;}
.widget_links li{width:50%;float:left;padding:0;border-bottom:none;margin-bottom: 8px;line-height: 20px;height: 20px;}
.widget_links li a{}
.recentcomments{color:#888;}
.widget_pages ul{padding:10px 15px 5px;overflow:hidden}
.widget_pages li{float:left;width:50%;margin-bottom: 5px;}
.widget_meta .widget_tit{margin:0 0 10px}
.widget_meta ul{line-height:24px}
.widget_meta ul a{color:#999}
.widget_meta ul a:hover{color:#333;text-decoration:underline}
.widget_archive ul{padding: 10px 15px 5px;overflow: hidden;color: #999;}
.widget_archive li{width: 50%;float: left;margin-bottom: 5px;}
.widget_archive select,.widget_categories select{margin-top:10px;width:91%;margin-left: 15px;height:32px;line-height:32px;padding:2px}
.widget_calendar{overflow:hidden}
#calendar_wrap{margin: 0 15px 10px;}
.widget_calendar table{width:100%;text-align:center;}
.widget_calendar table caption{padding:10px 0 5px;font-size:15px;}
.widget_calendar table #prev a,.widget_calendar table #next a{display:block;padding:0 10px}
.widget_calendar table #prev{text-align:left}
.widget_calendar table #next{text-align:right}
.widget_calendar table tbody td,.widget_calendar table tfoot td,.widget_calendar table thead th{padding:5px 3px;border:1px solid #eee;}
.widget_calendar table thead th{background-color:#fbfbfb}
.widget_calendar table tbody td a{display:block;margin:0 3px;background-color:#7F9BC0;color:#fff}
.widget_calendar table tbody td a:hover{background-color: #7F9BC0;}
.widget_categories{}
.widget_categories ul{overflow:hidden;padding:10px 0 5px;color:#bbb}
.widget_categories li{float:left;width:50%;margin-bottom: 5px;}
.widget_categories li a{margin-left:15px}
.widget_categories li ul{padding:0 0 0 15px}
.widget_categories li li{float:none;width:auto}
.widget_nav_menu ul{padding:10px 15px 5px;color: #999;}
.widget_nav_menu ul li{margin-bottom: 8px;}
.widget_rss ul{color: #999;}
.widget_meta ul{padding:0 15px 10px}
.widget_meta ul li{margin-bottom: 5px;}

.btn{ background:#FFF;  cursor:pointer; border:1px solid #DDD; display:inline-block; line-height:30px; padding:0 55px; color:#666; border-radius:3px; vertical-align: middle;}
.btn:hover, .btn:focus{ color:#333; border-color:#CCC; text-decoration: none; box-shadow:0 2px 8px rgba(0, 0, 0, .05) inset;}
.btn-primary-empty{border-color:#7F9BC0; color:#7F9BC0;}
.btn-danger-empty{border-color:#7F9BC0; color:#7F9BC0;}

aside{margin-left:-360px;width:360px;position:relative;float:right;}
aside section{display:block;overflow:hidden;}
aside section h2{background:#7F9BC0;color:#FFF;padding-left:20px;height:30px;line-height:30px;font-size:15px;}
.cbl-logo{background-color:#fff;padding:10px;overflow: hidden;}
.newpic ul,.taglist ul{overflow:hidden;padding:20px 10px;background-color: #fff;}
.newpic div{display:inline;width:48px;height:48px;padding:0px !important;}
.newpic div img{float:left;width:48px;height:48px;}
.taglist ul li a{display:inline-block;float:left;margin-right:5px;color:#454545;padding:2px 5px;}
.taglist ul li a:hover{background:#7F9BC0;color:#fff;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.blogitem{margin-right: 370px;}
article{background: #fff;margin-bottom: 10px;padding: 20px;overflow: hidden;}
.title{font-size:20px;line-height:28px;display:inline-block;width:100%;font-weight: normal;margin: 0 0 10px;}
.title a{color:#454545;}
.edit {margin-left: 20px;color:#949494;font-size: 14px;}
.edit a{color:#949494;}
.text{font-size:14px;word-wrap: break-word;}
.text p{line-height:24px;margin-bottom:10px;}
.text p img{display:block;max-width:100%;margin:auto;height:auto;}
.text .thumbnail{float: left;width: 25%;height:120px;overflow: hidden;}
.text .thumbnail img{height:auto;}
.textimg{text-align:center;}
.textimg img{max-width:500px;width:expression(document.body.clientWidth>500?"500px":"auto");}
.indextext p{margin-left: 25%;padding-left:15px;}
.textfoot span{margin-left:10px;}
.previous-image {float: left;}
.previous-image a{padding: 5px;background: #7F9BC0;border-radius: 3px;color:#fff;}
.next-image{float: right;}
.next-image a{padding: 5px;background: #7F9BC0;border-radius: 3px;color:#fff;}
.zhuanzai{margin-top:40px;}
.pages{text-align:right;padding:20px;}
.pages span{background:#EEE;color:#000;border:0;margin:0 0 0 5px;padding:5px 8px;}
.pages .current{background:#7F9BC0;color:#fff}
.pages a{background:#EEE;color:#454545;border:0;margin:0 0 0 5px;padding:5px 8px;}
.pages a:hover{background:#CCC;}
footer{border-top:9px solid #7F9BC0;background:#ffffff;margin: 10px auto 0;max-width: 1100px;height: 100%;margin-top: 60px;}
.visitor{width:800px;clear:both;border-top:1px solid #32302e;padding-top:40px;overflow:hidden;margin:40px auto 0;}
.visitor h2{color:#fff;font-size:14px;font-weight:400;}
.visitor ul li img{width:78px;height:78px;display:block;border:#FFF 2px solid;}
.visitor ul li a{float:left;margin-right:10px;}
.Copyright{text-align:center;color:#666;margin:20px 0;}
.Copyright ul a{color:#286c5b;display:inline;padding:0 10px;}
.Copyright ul a:nth-child(-n+3){border-right:#32302e 1px solid;}
.newpic div img:hover,.visitor ul li a:hover{opacity:.5;}

.visitor ul{padding:20px 0}
.fname a,.Copyright ul a:hover{color:#fff;}
.download{text-align:center;}
/* 翻屏 */
#back-to-top{display:none;cursor:pointer;position:fixed;right:50px;bottom:80px;width:48px;height:48px;z-index:999;border-radius:50%;background:rgba(255,255,255,0.6);box-shadow:0px 1px 8px 1.5px rgba(0,0,0,0.35),0px 20px 70px 8px rgba(0,0,0,0.25);-moz-box-shadow:0px 1px 8px 1.5px rgba(0,0,0,0.35),0px 20px 70px 8px rgba(0,0,0,0.25);}#back-to-top:hover{background:#FFF;}#back-to-top #point-up{margin:8px;}#back-to-top #point-up path{transition:.5s;-o-transition:.5s;-moz-transition:.5s;-webkit-transition:.5s;}#back-to-top.red:hover #point-up path{fill:#7F9BC0;}
/*侧边栏*/
.f_comment .all-comments a{display:list-item;padding:6px 0;overflow:hidden;position:relative;color:#7F9BC0;margin-top:5px;transition:.2s color ease,.2s padding-left ease,.2s background-color ease;-o-transition:.2s color ease,.2s padding-left ease,.2s background-color ease;-moz-transition:.2s color ease,.2s padding-left ease,.2s background-color ease;-webkit-transition:.2s color ease,.2s padding-left ease,.2s background-color ease;}
.f_comment .all-comments a:hover img{transform:rotate(360deg);-o-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);}
.f_comment .all-comments a:hover{padding-left:20px;background-color:rgba(0,0,0,0.02);color:#7F9BC0;cursor:pointer}
.f_comment .all-comments a:hover .muted{color:#555;}
.f_comment img{float:left;width:50px;margin:3px 5px 0 0;transition:500ms;-o-transition:500ms;-moz-transition:500ms;-webkit-transition:500ms;}
.f_comment .wp-smiley{display:none;}
.muted small{color:#888;}
.muted{color:#888;margin-left:10px;}
/*teamnewslist*/
.teamnewslist{list-style:none;margin-left: 36px;padding-left: 14px;border-left: 2px solid #eee;font-size: 16px;color: #666;margin-top: 20px;padding-top: 5px;}
.teamnewslist b{font-size: 13px;font-weight: normal;color: #999;display: block;position: relative;}
.teamnewslist b::after{position: absolute;top: 2px;left: -23px;content: '';width: 12px;height: 12px;border-radius: 50%;background-color: #fff;border: 2px solid #ccc;box-shadow: 2px 2px 0 rgba(255,255,255,1), -2px -2px 0 rgba(255,255,255,1)}
.teamnewslist li{margin-bottom: 30px;}
.teamnewslist li:hover{color: #555;}
.teamnewslist li:hover b::after{border-color: #FF5E52;}
.teamnewslist li:hover b{color: #FF5E52;}
#search-form #s{width: 180px;display:inline-block;height:18px;padding:4px;margin-bottom:9px;font-size:13px;line-height:18px;color:#555;background-color:#fff;border:1px solid #ccc;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-webkit-transition:border linear .2s,box-shadow linear .2s;-moz-transition:border linear .2s,box-shadow linear .2s;-ms-transition:border linear .2s,box-shadow linear .2s;-o-transition:border linear .2s,box-shadow linear .2s;transition:border linear .2s,box-shadow linear .2s;}
.so-input{cursor:pointer;-webkit-appearance:button;display:inline-block;padding:5px 10px 5px;margin-bottom:0;font-size:13px;line-height:18px;color:#fff;text-align:center;border-radius: 4px;border:0;background-color: #7F9BC0;}
.widget_ui_posts .thumbnail {float: left;margin-left: -95px;width: 85px;height: 55px;overflow: hidden;}
.widget_ui_posts .thumbnail img{height: auto!important;}
.widget_ui_posts li {padding: 20px 0 0 95px;overflow: hidden;position: relative;display: block;}
.widget_ui_posts h3 {margin: 0;}
.widget_ui_posts h3 a{color: #444;}

section ul{padding: 20px;}
section div{padding: 20px;}
/* 友链 */
img.ylink{float:left;width:40px;border-radius:100px;}
li.l-name{display:-webkit-inline-box;}
.l-all{width:auto;}
.l-name a{display:block;overflow:hidden;padding:10px;text-overflow:ellipsis;white-space:nowrap;word-break:keep-all;}
/*comments*/
#comments{background:#fff;}
#comments #prompt{padding:0 50px;color:#7F9BC0;}
.face{position:relative;top:-12px;float:left;margin-right:10px;width:42px;height:42px;}
.face1{background:url(images/face1.png) center center no-repeat;}
.face2{background:url(images/face2.png) center center no-repeat;}
.comment_amount{margin-top:20px;margin-bottom:50px;}
.comment_amount a{font-size:16px;line-height:22px;}
.comment-show{padding:60px 0 0;text-align:center;}
.comment-show li{margin-bottom:10px;}
.commentlist{margin:20px 0;padding:0 40px 20px 40px;list-style:none;font-size:13px;line-height:20px;}
.commentlist p{margin:0;color:#888;}
.commentlist li{margin:20px 0;}
.commentlist .comment_body{padding:10px;border-bottom:1px dashed #E7E7E7;}
.commentlist a{color:#7F9BC0;}
.comment_body .author{float:left;margin-top:3px;padding-right:4px;}
.comment_body .author .avatar{width:36px;height:36px;box-shadow:1px 1px 2px rgba(0,0,0,.3);}
.comment_body:hover .author .avatar{transition:500ms;-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);}
.comment_body .author .avatar{-webkit-transition:500ms;-moz-transition:500ms;-o-transition:500ms;transition:500ms;}
.comment_body .comment_data{margin-left:44px;}
.comment_body .name{color:#7F9BC0;}
.comment_body .text{color:#474747;}
.comment_body .time{color:#9f9f9f;}
.comment_body .reply{float:right;margin-right:4px;}
.commentlist li ul li .comment_body{margin-left:40px;}
#respond{position:relative;overflow:hidden;padding:20px 40px;font-size:13px;}
#respond div{margin:6px 0;color:#7F9BC0;}
#respond .welcome{margin:10px 0 0 60px;color:#888;}
#respond .f-publish{padding:20px 0 0 60px;}
#respond .f-publish span{position:relative;top:25px;float:left;margin-left:-210px;width:180px;text-align:right;font-size:13px;}
#respond .f-publish span img{border-radius:100px;}
#respond label{position:relative;top:5px;}
#respond input{overflow:hidden;padding:2px;width:150px;height:18px;outline:0;border:0;border-bottom:1px dashed #7F9BC0;background:0 0;color:#4f4f4f;font-size:13px;font-family:"微软雅黑";}
#respond textarea{overflow:hidden;margin-top:10px;padding:2px;width:98%;height:70px;outline:0;border:1px dashed #7F9BC0;background:#fff;color:#4f4f4f;font-size:13px;font-family:"微软雅黑";line-height:22px;resize:none;}
#respond input#submit{float:right;margin-right:14px;width:66px;height:26px;outline:0;border:0;border-radius:0;background:#7F9BC0;color:#fff;font-size:13px;font-family:"微软雅黑";cursor:pointer;}
#respond input#submit:hover{background:#8dc666;}
#error,#loading{position:relative;right:20px;float:right;}
#error img,#loading img{margin-bottom:4px;}
#smilies a{margin:0 1px;}
.commentnavi{margin-bottom:20px;padding:20px 40px;}
.commentnavi .page-numbers{margin:0;padding-right:4px;}
.commentnavi .current{color:#7F9BC0;}
.commnav_loding{padding-left:20px;background:url(images/loading-2.gif) left center no-repeat;}
/*点赞*/
.post-like{text-align:center;padding:10px}
.post-like a{ background-color:#7F9BC0;border-radius: 3px;color: #FFFFFF;font-size: 13px;padding: 5px 10px;text-decoration: none;outline:none}
.post-like a.done, .post-like a:hover{background-color:#eee;color:#21759B;}
.post-like a.done{cursor:not-allowed}
.pln{color:#000}
.slow{-webkit-transition:All 1s ease;-moz-transition:All 1s ease;-o-transition:All 1s ease;transition:All 1s ease;-ms-transition:All 1s ease}
.hidden{display:none;}

.m-sidebar {margin-bottom: 20px;}
.m-header{position:relative;left:0;z-index:4;display:none;margin:0;padding:0;width:100%;height:48px;background:#299982;color:#fff;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-touch-callout:none;}
.m-header-button{position:absolute;top:15px;left:15px;width:20px;height:20px;background-image:url(/statics/img/content-header.png);background-size:40px;background-repeat:no-repeat;cursor:pointer;}
.m-header-search{position:absolute;top:17px;right:17px;width:20px;height:20px;background-image:url(/statics/img/content-header.png);background-position:-20px 0;background-size:40px;background-repeat:no-repeat;cursor:pointer;}
.m-header h1{margin:0;text-align:center;font-weight:bold;font-size:14px;font-family:'Open Sans','Helvetica Neue',sans-serif;}
.m-header h1 a{margin:0;padding:12px 25px;height:48px;color:#fff;font-size:14px;line-height:53px;}
.m-nav-all{display:block;margin:0 auto;max-width:1100px;}
.m-logo-url{float:left;display:none;height:52px;}
.m-logo-url img{width:30%;border-radius:100%;}
.m-logo-url h3{margin:10px 0;color:#fff;font-weight:normal;}
#search-form{position:absolute;top:0;z-index:999;overflow:hidden;margin:0;padding:0;width:100%;height:51px;opacity:.5;backface-visibility:hidden;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;}
#search-input-s{padding:0 23px 10px;}
#search-form.active{opacity:1;}
#search-form{-webkit-transition:all .5s;-moz-transition:all .5s;transition:all .5s;}
#search-form{-webkit-transform:translate(0,-53px);-moz-transform:translate(0,-53px);-o-transform:translate(0,-53px);transform:translate(0,-53px);-ms-transform:translate(0,-53px);}
#search-form.active{-webkit-transform:translate(0,-3px);-moz-transform:translate(0,-3px);-o-transform:translate(0,-3px);transform:translate(0,-3px);-ms-transform:translate(0,-3px);}
#search-form{top:-53px;}
#search-form.active{top:0;}
#search-form input[type="text"]{position:absolute;top:0;left:0;z-index:44;margin-right:0;width:100%;height:51px;background:#34393d;color:#fff;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-touch-callout:none;}
#search-form-close{position:absolute;top:0;right:0;z-index:45;width:55px;height:51px;color:#a9a9a9;text-align:center;line-height:58px;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-touch-callout:none;}
#search-form-close.hover{color:#3dabda;}
#search-form input[type="button"]{position:absolute;top:9999px;right:9999px;z-index:-9999;width:0;height:0;text-indent:-9999px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-touch-callout:none;}

@media screen and (max-width:1100px){
header{display: none;}
.mainContent {width: 100%;margin: 0;}
.m-menu{float: left;background:url(/statics/img/m-menu.png);width:20px;height:20px;cursor: pointer;}
.m-admin{float: right;margin-right: 20px;background:url(/statics/img/m-admin.png);width:20px;height:20px;cursor: pointer;}
aside {width: 100%;float: none;background:#505050;}
.m-sidebar{display: none;}
.current-menu-item,.current_page_item{background:#7F9BC0;}
.blogitem {width: 100%;float: none;margin-left: 0;}
article {margin: 0;}
#comments {width: 100%;background: #fff;float: none;position: relative;}
.commentnavi{margin: 0;}
.comment-show {padding: 20px 0 0 0;margin-top:20px !important;}
.comment-show p {display: none;}
.comment-show ul {border: 0;padding-left: 10px;}
footer{display: none;}
.Copyright{margin: 0;}
.jp-audio {width: 100%;}
.seek-bar {width: 50% !important;}
.play {width: 10%;}
}
@media screen and (max-width:1100px){
	body{background:#fff;overflow-x: hidden;}
	header,aside{display:none;}
	.m-header{display:block;}
	.m-header-open{left:30% !important;}
	.m-logo-url{float:none;display:block;margin:20px auto;text-align:center;height:100%;}
	#m-nav{position:fixed;top:0;left:-30%;display:block;width:30%;height:100%;background:#505050;opacity:0;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease;}
	#m-nav .nav{float:none;margin-left:20px;}
	#m-nav .nav>li{float:none;border-top:#666 1px solid;}
	.m-nav .nav li a{padding:10px;}
	.m-nav .nav > li > ul ,.m-nav .nav > li > ul > li > ul {background:0;position:static;display:block;}
	.m-nav .nav li:hover > ul {background:#404040!important;}
	.m-nav .nav > li > ul a{margin-left:40px;}
	.m-nav-open{left:0 !important;opacity:1 !important;}
	.mainContent {left:0;margin:0;background:#fff;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease;}
	.m-container-open,.m-footer-open{left:30% !important;}
	#content,#pagination{margin:0;}
	#pagination a{margin:auto;width:50%;}
	footer{position:relative;left:0;display: block;background:0;border:0;overflow:hidden;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease;}
}
@media screen and (min-width:750px) and (max-width:1100px){
	.m-header-open,.m-container-open,.m-footer-open{left:30% !important;}
	#m-nav{left:-30%;width:30%;}
}
@media screen and (max-width:750px){
	.m-header-open,.m-container-open,.m-footer-open{left:50% !important;}
	#m-nav{left:-50%;width:50%;}
}
